@model IEnumerable<EducationManual.Models.ApplicationUser>
@using EducationManual.Models;

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<p>
    <h4>Teachers</h4>
</p>

<table class="table">
    <tr>
        <th>
            First name
        </th>
        <th>
            Second name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "User", new { userId = item.Id, returnURL = Request.Url }, null) | 
                @if (!User.IsInRole("Teacher"))
                {
                    @Html.ActionLink("Delete", "Delete", item, new { @class = "delItem" })
                }
            </td>
        </tr>
    }

</table>

@if (!User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Create new teacher", "Register", "Account", new { schoolId = DataSave.SchoolId, role = "Teacher" }, "")
    </p>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
           $(".delItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}