@model EducationManual.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div class="row">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-4 col-md-offset-3">
            <h2>@ViewBag.Title</h2>
            <h4>Create new @ViewBag.Role</h4>
            <br />
            @Html.ValidationSummary(false)
            <input type="hidden" name="schoolId" value="@ViewBag.SchoolId" />
            <input type="hidden" name="classroomId" value="@ViewBag.ClassroomId" />
            <input type="hidden" name="role" value="@ViewBag.Role" />
            <div class="form-group" style="width:270%">
                <label for="FirstName" class="col-lg-2 control-label">First name</label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @id = "FirstName", @placeholder = "First name" } })
                </div>
            </div>

            <div class="form-group" style="width:270%">
                <label for="SecondName" class="col-lg-2 control-label">Second name</label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control", @id = "SecondName", @placeholder = "Second name" } })
                </div>
            </div>

            <div class="form-group" style="width:270%">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail", @placeholder = "Email" } })
                </div>
            </div>

            <div class="form-group" style="width:270%">
                <label for="Password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "Password", @placeholder = "Password" } })
                </div>
            </div>

            <div class="form-group" style="width:270%">
                <label for="PasswordConfirm" class="col-lg-2 control-label">Confirm password</label>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @id = "PasswordConfirm", @placeholder = "Password confirm" } })
                </div>
            </div>

            <div class="form-group" style="width:270%">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    }
</div>
