@model EducationManual.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div class="row">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <br />

        <input type="hidden" name="schoolId" value="@ViewBag.SchoolId" />
        <input type="hidden" name="classroomId" value="@ViewBag.ClassroomId" />
        <input type="hidden" name="role" value="@ViewBag.Role" />

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-offset-1">
                            <h2 style="margin-top:7px">@ViewBag.Title</h2>
                            <h4>Create new @ViewBag.Role</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        @Html.ValidationSummary(false)
                        <div class="col-md-offset-1">
                            <div class="form-group">
                                <label for="FirstName" class="control-label col-xs-3">First name</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @id = "FirstName", @placeholder = "First name" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="SecondName" class="control-label col-xs-3">Second name</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control", @id = "SecondName", @placeholder = "Second name" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="control-label col-xs-3">Email</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail", @placeholder = "Email" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Password" class="control-label col-xs-3">Password</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "Password", @placeholder = "Password" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PasswordConfirm" class="control-label col-xs-3">Confirm password</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @id = "PasswordConfirm", @placeholder = "Password confirm" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label for="Password" class="control-label col-xs-2"></label>
                                    <div class="col-md-offset-5">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
