@using EducationManual.Models;
@model IEnumerable<Student>

<p>
    <h3>Studens of class:  @ViewBag.ClassroomName</h3>
</p>
 
<br/>

<table class="table table-striped table-hover ">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            @Html.DisplayNameFor(model => model.ApplicationUser.SecondName)
        </th>
    </tr>

    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ i++;}
                @i
            </td>
            <td>
                <a href="/User/Details?userId=@item.ApplicationUser.Id&returnURL=@Request.Url">
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                    @Html.DisplayFor(modelItem => item.ApplicationUser.SecondName)
                </a>
            </td>
        </tr>
    }

</table>

@if (!User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Back to classroms list", "List", "Classroom", new { id = DataSave.SchoolId }, new { @class = "btn btn-default" })
        @Html.ActionLink("Create new student", "Register", "Account", new { schoolId = DataSave.SchoolId, classroomId = ViewBag.ClassroomId, role = "Student" }, new { @class = "btn btn-default" })
    </p>
}