@using EducationManual.Models;
@model IEnumerable<Student>

<p>
    <h2>Studens of class:  @ViewBag.ClassroomName</h2>
</p>

<br />

<table class="table table-striped table-hover ">
    <tr class="success">
        <th>#</th>
        <th>
            First name
        </th>
        <th>
            Second name
        </th>
    </tr>

    @{ int i = 1;}
    @foreach (var item in Model)
    {
        <tr onclick="location.href = '/User/Details?userId=@item.ApplicationUser.Id&returnURL=@Request.Url'" class="active">
            <td>
                @i
                @{ i++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.SecondName)
            </td>
        </tr>
    }

</table>

@if (!User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Back to classroms list", "List", "Classroom", new { id = DataSave.SchoolId }, new { @class = "btn btn-default" })
        @Html.ActionLink("Create new student", "Register", "Account", new { schoolId = DataSave.SchoolId, classroomId = ViewBag.ClassroomId, role = "Student" }, new { @class = "btn btn-default" })
    </p>
}