@using EducationManual.Models;
@model IEnumerable<Student>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<p>
    <h4>Studens of class: @ViewBag.ClassroomName</h4>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.SecondName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.SecondName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "User", new { userId = item.ApplicationUser.Id, returnURL = Request.Url }, null)
                @if (!User.IsInRole("Teacher"))
                {
                    @Html.ActionLink("Delete", "Delete", item, new { @class = "delItem" })
                }
            </td>
        </tr>
    }

</table>

@if (!User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Create new student", "Register", "Account", new { schoolId = DataSave.SchoolId, classroomId = ViewBag.ClassroomId, role = "Student" }, "")
    </p>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".delItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}