@model EducationManual.ViewModels.UserViewModel
@using Microsoft.AspNet.Identity
@using EducationManual.Models

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.FirstName @Model.SecondName</h3>
        </div>
        <div class="panel-body">

            <br />

            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <div class="form-horizontal">
                        <label>User photo</label>

                        <br />

                        @if (Model.ProfilePicture == null)
                        {
                            <img id="results" src="@DataSave.DefaultPicture" alt="Your null avatar" height="180" width="180" />
                        }
                        else
                        {
                            <img id="results" src="@Model.ProfilePicture" alt="Your avatar" height="180" width="180" />
                        }

                        @if (Model.Id == User.Identity.GetUserId() || User.IsInRole("SchoolAdmin") || User.IsInRole("SuperAdmin"))
                        {
                            <div class="form-group">
                                <br />
                                <label for="InputFile">Change photo</label>
                                <input type="file" size="100" class="form-control-file" id="InputFile" aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">Tap and select image from your computer.</small>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.SchoolId)
                        <input type="hidden" name="returnURL" value="@Model.returnURL" />
                        <input type="hidden" id="returnImg" name="ProfilePicture" value="@Model.ProfilePicture" />
                        @if ((!User.IsInRole("Teacher") || Model.Id == User.Identity.GetUserId()) && !User.IsInRole("Student"))
                        {
                            { Html.RenderPartial("Partial/DetailsAdminPartial", Model); }
                        }
                        else
                        {
                            { Html.RenderPartial("Partial/DetailsUserPartial", Model); }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <a href="@Model.returnURL" class="btn btn-default">Back</a>

        @if (!User.IsInRole("Teacher") && !User.IsInRole("Student"))
        {
            <input type="submit" value="Save changes" class="btn btn-primary" />

            @Html.ActionLink("Change password", "ChangePassword", "Account", new { id = Model.Id, returnURl = Request.Url, userName = $"{Model.FirstName} {Model.SecondName}" }, new { @class = "btn btn-default" })
            if (Model.Id == User.Identity.GetUserId())
            {
                <a href="#" class="btn btn-danger disabled">Delete</a>
            }
            else
            {
                <div class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id, userRole = Model.Role, returnUrl = Model.returnURL },
                                                         new { @class = "delItem", @style = "text-decoration:none;color:white;" })
                </div>
            }
        }
        else if (Model.Id == User.Identity.GetUserId() && !User.IsInRole("Student"))
        {
            <input type="submit" value="Save changes" class="btn btn-default" />

            @Html.ActionLink("Change password", "ChangePassword", "Account", new { id = Model.Id, returnURl = Request.Url }, new { @class = "btn btn-default" })
        }
    </div>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".delItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#results').attr('src', e.target.result);
                    $('#returnImg').attr('value', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#InputFile").change(function () {
            readURL(this);
        });
    </script>
}
