@model IEnumerable<EducationManual.Models.ApplicationUser>

<p>
    <h3>Users in role: @ViewBag.UsersRole</h3>
</p>

<br/>

<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            School Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { userId=item.Id, returnURL = Request.Url }) |
            @Html.ActionLink("Delete", "Delete", new { userId=item.Id, userRole = ViewBag.UsersRole })
        </td>
    </tr>
}

</table>
