@model IEnumerable<EducationManual.Models.Classroom>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<p>
    <h4>Classrooms</h4>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassroomId)
            </td>
            <td>
                @Html.ActionLink(item.Name, "List", "Student", new { id = item.ClassroomId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Count)
            </td>
            <td>
                
                @if (!User.IsInRole("Teacher"))
                {
                    @Html.ActionLink("Update", "Update", new { id = item.ClassroomId })
                    <label>|</label>
                    @Html.ActionLink("Delete", "Delete", item, new { @class = "delItem" })
                }
            </td>
        </tr>
    }

</table>

@if (!User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Create New Classroom", "Create", new { schoolId = ViewBag.SchoolId })
    </p>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".delItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}